
header {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    background-color: #a84a0b;
    color: black;
    height: 190px;
    font-size: 1.5rem;

}

header div, nav {
    padding-left: 100px;
    padding-right: 100px;
}


header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

header nav ul a li {
    list-style-type: none;
    padding-left: 30px;
    color: inherit;

}

header nav ul a li:hover {
    color: orange;
}